* {
  box-sizing: border-box;
  font-family: 'Syne Mono', monospace;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

nav a {
  padding-right: .5rem;
  padding-left: .5rem;
  color: black;
  transition: all 200ms;
  font-weight: 400;
}

nav a:hover {
  font-weight: bold;
}

.home-menu {
  display: flex;
  padding: 1rem 0.2rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.home-menu a {
  font-size: 12px;
  text-decoration: none;
}

.home-footer {
  text-align: center;
  padding: 3rem 1rem;
}

.home-footer p {
  color: black;
}

.btn {
  appearance: none;
  background-color: aqua;
  padding: .5rem 1.2rem;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 200ms;
}

.btn:hover {
  background-color: white; 
}

input, textarea {
  display: block;
}

fieldset {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

fieldset label {
  display: block;
  padding-top: 1rem;
}

img, iframe {
  border: 2px solid black;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.capitais {
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-around;
  background-color: #abdbe3;
  padding: 50px;
}

.capitais > div {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #888;
  margin: 10px;
}

.capitais img {
  border-radius: 20px 0 0 20px;
  height: 100%;
}

.capitais div div:last-child {
  width: 150px;
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 0 20px 20px 0;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  border-bottom: 1px solid black;
}

.menu a:last-child {
  margin-left: auto;
}

.menu a {
  padding: 20px;
  text-decoration: none;
  color: black;
}

.menu a:hover {
  background-color: #b4b4b4;
  font-weight: bold;
}

.dicas {
  width: 100%;
  background-color: white;
}

.dicas div {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dicas > div {
  display: flex;
  width: 25%;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #888;
  margin: 10px;
}

.destinos {
  background-color: #abdbe3;
}

.destinos > div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.destinos h5 {
  padding-bottom: 300px;
}

.destinos h4, .destinos h5, .destinos p {
  margin: 0;
  color: white;
  font-weight: bold;
}

.aveiro {
  background-image: url('lab4/images/destinos/aveiro.jpg');
  grid-area: aveiro;
}

.evora {
  background-image: url('lab4/images/destinos/evora.jpg');
  grid-area: evora;
}

.lisboa {
  background-image: url('lab4/images/destinos/lisboa.jpg');
  grid-area: lisboa;
}

.porto {
  background-image: url('lab4/images/destinos/porto.jpg');
  grid-area: porto;
}

.viseu {
  background-image: url('lab4/images/destinos/viseu.jpg');
  grid-area: viseu;
}

@media only screen and (min-width: 900px) {
  .destinos {
    gap: 1rem;
    grid-template-areas:
      'aveiro evora lisboa'
      'porto porto viseu';
  }
}

@media only screen and (max-width: 899px) {
  .destinos {
    gap: 1rem;
    grid-template-areas:
      'aveiro evora'
      'lisboa viseu'
      'porto porto';
  }
}